<div class="app-wrapper home">
<div class="home-back"></div>

	<ul class="orderby horizontal">
		<li> <a (click)="setDistance()" id="switchDistance" class="active" >Distance</a>   </li>
		<li> <a (click)="setCheckins()" id="switchCheckins" >Checkins</a>  </li>
	</ul>
	
	<h1 class="brand"> Get Us Some Coffee </h1>
	
	<table class="coffee-list">
		<thead>
			<tr>
				<th> Place image </th>
				<th> Place name </th>
				<th> Distance </th>
				<th> Checkins </th>
			</tr>
		</thead>
		<tbody *ngIf="activeDistance">

			<tr  *ngFor="let venue of venues | orderBy: 'location.distance'  ">
				<td> <img src="{{ venue.image }}" alt="{{ venue.name }}"></td>
				<td class="bold">{{ venue.name }}</td>
				<td>{{ venue.location.distance }}m</td>
				<td>{{ venue.stats.checkinsCount }}</td>
			</tr>
		</tbody>
		<tbody *ngIf="activeCheckins">
			<tr  *ngFor="let venue of venues | orderBy: '-stats.checkinsCount'  ">
				<td> <img src="{{ venue.image }}" alt="image"></td>
				<td class="bold">{{ venue.name }}</td>
				<td>{{ venue.location.distance }}m</td>
				<td>{{ venue.stats.checkinsCount }}</td>
			</tr>
		</tbody>
		
		
	</table>

</div>