<div class="app-wrapper intro">
	<img id="intro-location" src="./assets/intro/location.png">
	<h2 class="intro-title"> Allow <span class="important-text">Get Us Some Coffee </span> access to your location</h2>
	<p> 
		Get Us Some Coffee needs your location to help you find places you'll love. 
	<br> 
		Allowing Get us Some Coffee access to your location will help you get better 
		location results.
	</p>
	<a type="button" class="button access-button" (click)="goHome()" > ALLOW ACCESS </a>
	<a type="button" class="button dismiss-button" (click)="goError()" > Do not allow access </a>
</div>