/* GOLBAL */

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
  	font-size: 0;
	li { font-size: initial; }
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
}

ul.horizontal {
	li {
		display: inline-block;
	}
	li:not(:last-of-type) {		
		border-right: 0 !important;
	}
}

*[type=button] {
}

.bold {
	font-weight: bold;	
}

*.important-text {
	color:  #cc3300; 
}

a.important-text:hover {
	color:  #ff490d; 
}
		
@keyframes color-change {
	0%   { color: black; }
	50%  { color: #cc3300; } 
	100% { color: black; }
}
	
@keyframes background-change {
	0%   { background: black; }
	50%  { background: #992600; } 
	100% { background: black; }
}
@keyframes spin { 
   0% { transform: rotate(10deg); } 
   50% 	{ transform: rotate(-10deg); }
   100% 	{ transform: rotate(10deg); }
}

/* INTRO */

div.intro {
	padding: 5%;
}
div.error {
	padding: 5%;
	background: url("/assets/back.jpg") no-repeat bottom left;
	background-size: cover; 
    background-attachment: fixed;
	img#error-sign {
		animation: spin 2s infinite ease;
	}
}

div.home {
	background: url("/assets/coffee.jpg") no-repeat top center;
	background-size: cover; 
    background-attachment: fixed;	
}

div.intro {
	background: url("/assets/back.jpg") no-repeat bottom left;
	background-size: cover; 
    background-attachment: fixed;	
}



div.app-wrapper {
	margin:		0;
	height: 	100%;
	width: 		100%;
	overflow-x: hidden;
	text-align: center;
    background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
	img#intro-location {
		height: 100px;
	}
	h2.intro-title {
		margin: 10px auto;
	}
	p {
		display: inline-block;
		margin: 10px auto;
		padding: 10px;
		font-size: 18px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		color: black;
	}
}

a.access-button {
	display: block;
	width: 200px;
	background: black;
	color: white;
	padding: 10px;
	margin: 10px auto;
	animation: background-change 5s infinite linear;
	&:hover {
		background: #676363; 
	}
}

a.dismiss-button {
	display: block;
	width: 200px;
	color: black;
	font-weight: bold;
	padding: 10px;
	margin: 10px auto;
	&:hover {
		text-decoration: underline;
	}
}


/* HOME */

ul.orderby {
    margin: 0;
    padding: 0;
	li {
		background: white;
		border: 1px solid #a83600;
		border-top: 0;
		color: #a83600;
		height: 40px;
		margin: 0;
		width: 50%;
		max-width: 300px;
		a {
			width: 100%;
			line-height: 40px;
			height: 100%;
			display:block;
			&.active {
				background: #a83600;
				color: white;
				&:hover {
					background: #993000;
				}
			}
		}
	}
}

h1.brand {
	color: #993000;
	animation: color-change 5s infinite linear;
	
}

table.coffee-list {
	margin: 10px auto;
	width: calc( 100vw - 20px);
	max-width: 1200px;
	border:1px solid black;
	border-collapse: collapse;
	thead {
		background:  #993000;
		color: white;
		tr {
			th {
				padding: 10px;
			}
		}
	}
	tbody {
		height:300px;
		tr {
			td {
				padding: 10px;
				border-bottom: 1px solid #993000;
				img {
					width: 50px;
					height: 50px;
					border:none;
					line-height: 50px;
					background: #ffc6aa;
					font-size:10px;
					color: #993000;
				}
			}
		}
		tr:nth-child(even) { background:  rgba(244, 244, 244, 0.9); }
		tr:nth-child(odd) { background:  rgba(255, 255, 255, 0.9); }
	}
}

@media screen and (orientation:portrait) {
	
	img#intro-location {
		height: 30px;
	}
	table.coffee-list {
			font-size: 14px;
		tr {
			> :first-child {
				img {
					width: 30px;
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}
	
	
}







